table {
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}
table tr {
    border: 1px solid wheat;
}

table tr td {
    border: 1px solid wheat;
    padding: 20px;
}

.center {
    text-align: center;
}

.pagination {
    margin: 20px 0 0 0;
}
